!!! 5
html
	head
		title= title
		meta( name='viewport',content='width=device-width, initial-scale=1.0' )
		meta( charset="UTF-8" )
		meta( name="description", content="visualizing experience versus understanding" )
		meta( name="keywords", content="HTML5,Canvas,node.js,jQuery,MongoDB,KineticJS,Heroku,Twitter Bootstrap,jade,stylus" )
		meta( name="author", content="Henry Rogers" )
		
		//icon
		link( href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon' )

		// jquery
		script( src='http://code.jquery.com/jquery.min.js' )
		// zepto
		//script( src='/js/zepto.min.js' )

		// the amazing underscore
		script( src='/js/underscore-min.js' )
		
		// dougie
		script( src='/js/json2.js' )
		
		// twitter bootstrap
		link( rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css' )
		script( src='/lib/bootstrap/js/bootstrap.min.js' )

		// skillquadrants
		link( rel='stylesheet', href='/css/style.css' )
		link( rel='stylesheet', href='/css/ChunkFive-fontfacekit/stylesheet.css' )

		//socket.io
		script( src='/js/socket.io.min.js' )
body
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				a.brand( href='http://github.com/hhrogersii/skillquadrants' ) Skill Quadrants
				ul.nav
					li
						a( href='/' ) Home
					li
						a( href='/about' ) About
					li
						a( href='/quad' ) Chart
					//li
					//a( href='/chat' ) Chat
					//li
					//a( href='/draw' ) Draw
					//li
					//a( href='/help' ) Help
					li
						a( href='http://github.com/hhrogersii/skillquadrants/issues' ) Feedback/Issues
					//li
					//a( href='http://twitter.com/hhrogersii' ) Contact
				form.pull-right( action='' )

	.container
		.content
			.page-header
				#logo
				h1#slogan Sq: <small>visualizing experience vs. understanding (v0.2)</small>
				button#icon-github.btn.btn-inverse
					a( href='http://github.com/hhrogersii/skillquadrants' )
						i.icon-github
				//button#icon-twitter.btn.btn-inverse
				//i.icon-twitter
			.row
				h1.fontface= title
				!= body
		footer.footer
			img( src='/img/tools.png', width="860", height="46", alt="tools" )

	script
		$(".navbar ul.nav a").each( function() {
			if (window.location.pathname === this.pathname) $(this).parent().toggleClass("active");
		});